<form>
    <fieldset>
        <legend>
            <i class="fa fa-list"></i> Meus Contratos
        </legend>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nº do Contrato</th>
                    <th scope="col">Guia</th>
                    <th scope="col">Status</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">123456</th>
                    <td>John Doe</td>
                    <td class="text-warning">Aguardando Análise</td>
                    <td>
                      <a href="contrato-detalhes.html">Ver detalhes</a>
                    </td>
                </tr>

                <tr>
                  <th scope="row">456789</th>
                    <td>Jane Doe</td>
                    <td class="text-danger">Cancelado</td>
                    <td>
                      <a href="contrato-detalhes.html">Ver detalhes</a>
                    </td>
                </tr>
                <tr>
                  <th scope="row">987654</th>
                    <td>Robert Williams</td>
                    <td class="text-warning">Aguardando Pagamento</td>
                    <td>
                      <a href="contrato-detalhes.html">Ver detalhes</a>
                    </td>
                </tr>
                <tr>
                  <th scope="row">654321</th>
                    <td>Jane Oliver</td>
                    <td class="text-success">Concluído</td>
                    <td>
                      <a href="contrato-detalhes.html">Ver detalhes</a>
                    </td>
                </tr>
                <tr>
                  <th scope="row">654789</th>
                    <td>John Taylor</td>
                    <td class="text-success">Concluído</td>
                    <td>
                      <a href="contrato-detalhes.html">Ver detalhes</a>
                    </td>
                </tr>
            </tbody>
        </table>
</form>