body {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
    height: 100vh;
}

header { grid-area: header; }

main {
  grid-area: main;
  margin: 2rem 0;
}

footer {
  grid-area: footer;
  width: 100%;
  padding: 30px;
  background-color: #f0f0f0;
}
